body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

tr:nth-child(even) {
  background: lightgray;
}

h1 {
  color: blue;
  margin-left: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
